@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-width: thin;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 169, 100%, 25%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 142, 70%, 49%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    /* ws */
    --box-text: #41525d;
    --box-background: #f0f2f5;

    --ws-ui-bg: #f0f2f5;
    --ws-button-bg: #ffffff;
    --ws-ui-text: #000000;
    --ws-mute: #54656f;
    --ws-avatar: #ffffff;
    --ws-avatar-bg: #dfe5e7;
    --ws-icon:#54656f;
    --ws-file-input-bg: #ffffff;
    --ws-hover: #f5f6f6;
    --ws-time: #667781;
    --ws-link: #009de2;
    --ws-message-bg: #ffffff;
    --ws-list-bg: #ffffff;
    --ws-list-header: #008069;
    --ws-list-hover: #f5f6f6;
    --ws-list-title: #111b21;
    --ws-list-description: #667781;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 169, 100%, 25%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;

    /* ws */
    --box-text: #ffffff;
    --box-background: #111b21;

    --ws-ui-bg: #202c33;
    --ws-button-bg: #202c33;
    --ws-ui-text: #ffffff;
    --ws-mute: #aebac1;
    --ws-avatar: #cfd4d6;
    --ws-avatar-bg: #6a7175;
    --ws-icon: #8696a0;
    --ws-file-input-bg: #202c33;
    --ws-hover: #182229;
    --ws-time: #ffffff99;
    --ws-link: #53bdeb;
    --ws-message-bg: #202c33;
    --ws-list-bg: #111b21;
    --ws-list-header: #202c33;
    --ws-list-hover: #202c33;
    --ws-list-title: #e9edef;
    --ws-list-description: #8696a0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  #chat input {
    @apply rounded-md p-2 w-full focus:outline-none bg-sub-background;
  }

  #chat button {
    @apply px-3 py-1 rounded-md disabled:bg-disabled text-lg;
  }

  #chat textarea {
    @apply rounded-md p-2 w-full focus:outline-none;
  }
}